html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game {
    background-color: aliceblue;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    
}




.field img {
    width: 40vw;
    height: 15vh;
    position: relative;
    
}
.mrbump img {
    width: 30vw;
    height: 20vh;
    bottom: 270px;  
    left:100px; 
}

/* @media only screen and (max-width: 200px){
    .field img {
        width: 40vw;
        height: 15vh;
        position: relative;
    }
    /* .mrbump img {
        width: 40vw;
        height: 15vh;
        bottom: 400px;   
    } 
}*/

@media only screen and (max-width: 900px) {
    body {
      background-color: red;
    }
  }

